body{
  background-color: #121212;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
  width: 100vw;
}

/* Nav bar */

.header{
  width: 100%;
  max-height: 10vmin;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(18,18,18,0.7), rgba(18,18,18,0));
  padding-bottom: 1vmin;

}

.name-text {
  padding-left: 3vw;
}

.top-link {
  text-decoration: none !important;
  color: #f65858;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.App-link {
  color: #fff;
  padding-right: 2vw;
  text-decoration: none !important;
}

svg {
  max-height: 5vmin;
}

/*
.img-container {
  position: absolute;
  height: 100vh;
  text-align: center;
  z-index: -1;
  top: 0;
}*/

/* Intro */

.intro {
  min-height: 65vh;
  padding-top: 22.5vh;
  padding-bottom: 0;
  align-items: center;
}

.profile-img {
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  top: 0;
  z-index: -1;
  display: inline-block;
  overflow: hidden;
  position: absolute;

}

/*media query - change size of picture in smaller browser - zoom dont squash*/



.intro-text {
  text-align: center;
  margin-right: 40vw;
}


#projects {
  min-height: 50vh;
  color: #121212;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15vh 10vmin 15vh 10vmin;
}

.project-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.project-card {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #999999;
  width: 40vw;
  padding-bottom: 0.5vh;
  margin: 4vmin 4vmin 3vmin 4vmin;
}

.project-img {
  border-radius: 5px;
  width: 100%;
  height: 40vh;
}

.project-link {
  text-decoration: none !important;
  color: #121212;
}


#languages {
  width: 100%;
  min-height: 50vh;
  text-align: center;
  padding-top: 30vh;
}

#cards {
  min-height: 50vh;
  color: #121212;
  background-color: #fff;
  text-align: center;
  padding: 10vmin;
}

svg {
  width: 3vw;
  height: 3vw;
  padding: 0.5vw;
}

.footer {
  font-size: 1.5vmin;
  color: #fff;
  background-color: #121212;
  min-height: 10vh;
  padding: 5vh;
  text-align: center;
}


/*.rotated-text {

  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;


  color: #f65858;
  
  font-size: 5.4vw;
  transform: rotate(90deg);
  position: absolute;
  top: 1vmin;
  right: 1vmin;
  margin-right: -20vw;
  margin-top: 40vh;
}

.code-img {
  width: 100%;
  z-index: 99;
  transition: 1500ms opacity ease-out;
  position: absolute;
}

.code-img-faded {
  width: 100%;
  transition: 1500ms opacity ease-out;
  opacity: 0;
  position: absolute;
}
  .code-thin {
  width: 100%;
  margin-bottom: -2vh;
  }
*/